body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Titillium Web,Helvetica, sans-serif;
}

h1 {
  text-align: center;
}
.container {
  margin: 30px auto;
  width: 400px;
  border: 1px solid black;
  border-radius: 5px;
}

.chat {
  height: 500px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  position: relative;
}


.chat-input{
  width: 80%;
  margin: 10px;
}

.chat-slide {
  padding: 5px;
  word-wrap: break-word;
  width: 100%;
  border-bottom: 1px solid grey;
}

.chat-slide:last-child{
  border-bottom: none;
}

.submit {
  color: grey;
  cursor: pointer;

}

.submit:hover {
  color: rgb(65, 102, 235);

}

.loading-container {
  width: 100%;
  height: 100%;

}

.loading-item {
  position: relative;
  color: grey;
  left: 40%;
  top: 40%;
}

.text {
  margin: 10px auto;
  width: 400px;
  border: 1px solid black;
}
